<!doctype html>
                <html>
                <head>
                
                    <title>Javascript</title>
                <style>
body {
background-color: #1e3f5a;
font-family: helvetica;
align-content: left;
text-align: left;
padding-top: 60px;
}
</style>
                <body>
                    <script>
		function colorPage(colorCode, colorName){
			document.body.style.backgroundColor = colorCode;
		}
</script>

    <a href="steg2.html">Följ länken för att komma vidare till nästa steg</a>            </body>
                </html>
                